* {
  box-sizing: border-box;
}

.frame7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background: #ffffff;
  padding: 9px 10px 8px;
  width: 124px;
  height: 96px;

  .editarHBito {
    width: 101px;
    line-height: 22px;
    letter-spacing: 0;
    color: #090d3a;
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
  }

  .group4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 6px;

    .eliminarHBito {
      margin: 7px 0px 0px;
      width: 104px;
      line-height: 22px;
      letter-spacing: 0;
      color: #090d3a;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
