* {
  box-sizing: border-box;
}

.slider {
  display: flex;
  align-items: center;
  width: 62px;
  height: 18px;

  .vector2 {
    display: flex;
    align-items: center;
    border: 1px solid #cbf4e6;
    height: 18px;

    .vector {
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin-right: -1px;
      padding: 2px;

      .ellipse18 {
        border: 1px solid #73c9a0;
        background: #233f78;
        width: 13px;
        height: 13px;
      }
    }
  }

  .ellipse19 {
    margin-left: 12px;
    border: 1px solid #cbf4e6;
    background: #23262f80;
    width: 9px;
    height: 9px;
  }

  .ellipse20 {
    margin-left: 14px;
    border: 1px solid #cbf4e6;
    background: #23262f80;
    width: 9px;
    height: 9px;
  }
}
