* {
  box-sizing: border-box;
}

.aQuieresAgregarloATu {
  width: 214px;
  height: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: #090d3a;
  font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
