* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 19px;
  width: 375px;
  height: 812px;

  .autoWrapper3 {
    position: relative;
    margin-left: 13px;
    width: 356px;
    height: 291px;

    .sugerencias2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 356px;
      height: 291px;

      .frame64 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 16px;
        background: #f5f5f5;
        padding: 6px 0px 17px 8px;
        width: 343px;
        height: 291px;

        .autoWrapper {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 8px;
          padding-left: 7px;

          .sugerencias {
            width: 179px;
            height: 24px;
            line-height: 24px;
            letter-spacing: 1px;
            color: #167746;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 700;
          }

          .arrowCaretUpSm {
            width: 31px;
            height: 32px;
            overflow: hidden;
          }
        }

        .frame1000003791 {
          display: inline-flex;
          position: relative;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 40px;
          margin-top: 7px;
          margin-left: 3px;

          .alimentaciN {
            flex-shrink: 0;
            line-height: 26px;
            letter-spacing: 0;
            color: #0a0b2f;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }

          .actividadFSica {
            flex-shrink: 0;
            opacity: 0.7;
            line-height: 26px;
            letter-spacing: 0;
            color: #352f2f;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }

          .rectangle33 {
            position: absolute;
            top: 21px;
            left: -3px;
            flex-shrink: 0;
            background: #000000;
            width: 95px;
            height: 0;
          }
        }

        .podrAsBeneficiarteDe {
          margin: 15px 0px 0px 2px;
          width: 194px;
          line-height: 16px;
          letter-spacing: 0;
          color: #8a8b8f;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .frame6 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 15px;
          margin-right: 91px;
          border-radius: 16px;
          background: #daf5e9;
          padding: 7px 19px 7px 13px;
          min-width: 244px;
          height: 64px;

          .a64PxDoutone021Stoma {
            width: 50px;
            height: 50px;
            overflow: hidden;
          }

          .group2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .evitarCenasPesadas {
              line-height: 22px;
              letter-spacing: 0;
              color: #090d3a;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }

        .slider2 {
          position: relative;
          margin-top: 8px;
          margin-left: 137px;
          width: 62px;
          height: 18px;

          .ellipse20 {
            position: absolute;
            top: 4px;
            left: 52px;
            border: 1px solid #cbf4e6;
            background: #23262f80;
            width: 9px;
            height: 9px;
          }

          .slider {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            width: 62px;
            height: 18px;

            .ellipse21 {
              display: flex;
              align-items: center;
              border: 1px solid #cbf4e6;
              height: 18px;

              .vector3 {
                display: flex;
                align-items: center;
                border: 1px solid #cbf4e6;
                height: 18px;

                .vector2 {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  margin-right: -1px;

                  .vector {
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    padding: 2px;

                    .ellipse182 {
                      display: flex;
                      align-items: center;
                      border: 1px solid #73c9a0;
                      background: #233f78;
                      height: 13px;

                      .ellipse18 {
                        border: 1px solid #73c9a0;
                        background: #233f78;
                        width: 13px;
                        height: 13px;
                      }
                    }
                  }
                }
              }
            }

            .ellipse192 {
              display: flex;
              align-items: center;
              margin-left: 12px;
              border: 1px solid #cbf4e6;
              background: #23262f80;
              height: 9px;

              .ellipse19 {
                border: 1px solid #cbf4e6;
                background: #23262f80;
                width: 9px;
                height: 9px;
              }
            }

            .ellipse202 {
              margin-left: 14px;
              border: 1px solid #cbf4e6;
              background: #23262f80;
              width: 9px;
              height: 9px;
            }
          }
        }

        .aQuieresAgregarloATu {
          margin: 7px 0px 0px 62px;
          width: 214px;
          line-height: 16px;
          letter-spacing: 0;
          color: #090d3a;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .autoWrapper2 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 10px;
          padding-right: 22px;
          padding-left: 17px;

          .frame62 {
            display: flex;
            align-items: center;
            border-radius: 16px;
            background: #090d3a;
            padding: 9px 22px 9px 20px;

            .aceptar {
              width: 52px;
              line-height: 16px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }
          }

          .frame63 {
            display: flex;
            align-items: center;
            border: 1px solid #000000;
            border-radius: 16px;
            background: #f5f5f5;
            padding: 9px 16px;

            .modificar {
              width: 62px;
              line-height: 16px;
              letter-spacing: 0;
              color: #090d3a;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }

      .frame65 {
        display: flex;
        position: absolute;
        top: 117px;
        left: 264px;
        align-items: flex-start;
        border-radius: 16px;
        background: #daf5e9;
        padding: 10px 0px 10px 10px;
        width: 92px;
        height: 64px;

        .vector4 {
          margin-top: 8px;
          width: 20px;
          height: 24px;
        }

        .group22 {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 19px;

          .evita {
            width: 54px;
            line-height: 22px;
            letter-spacing: 0;
            color: #090d3a;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }

          .desp {
            width: 53px;
            line-height: 22px;
            letter-spacing: 0;
            color: #090d3a;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }

    .rectangle4190 {
      position: absolute;
      top: 112px;
      right: -6px;
      background: #fffdfd;
      width: 20px;
      height: 86px;
    }
  }

  .holaAnastacia {
    margin: 9px 0px 0px 17px;
    line-height: 32px;
    letter-spacing: 0;
    color: #141718;
    font-family: "Roboto Condensed", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
  }

  .pequeAsAccionesQueFo {
    margin: 1px 0px 0px 19px;
    width: 247px;
    line-height: 16px;
    letter-spacing: 0;
    color: #8a8b8f;
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .searchFilter {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin: 9px 17px 0px 14px;
    min-width: 344px;
    height: 44px;

    .searchBox {
      position: relative;
      width: 291px;
      height: 44px;

      .bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 291px;
        height: 44px;
      }

      .buscar {
        position: absolute;
        top: 13px;
        right: 216px;
        width: 61px;
        height: 11px;
        line-height: 16px;
        letter-spacing: -0.28px;
        color: var(--Dark-Grey, #acadb9);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .filter {
      width: 48px;
      height: 44px;
    }
  }

  .autoWrapper7 {
    position: relative;
    margin-top: 66px;
    margin-left: 16px;
    width: 344px;
    height: 106px;

    .pendiente {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-end;
      width: 46px;
      height: 18px;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Colors-Neutral-07, #ffffff);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 700;
    }

    .beber250MlDeAgua {
      line-height: 22px;
      letter-spacing: 0;
      color: #090d3a;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }

    .frame12 {
      display: flex;
      align-items: center;
      opacity: 0.9;

      .uilWifiRouter {
        display: flex;
        flex-grow: 1;
        align-items: center;
        border-radius: 50%;
        background: #daf5e9;
        padding: 11px;
        overflow: hidden;

        .bloodDrop11 {
          width: 20px;
          height: 20px;
          overflow: hidden;
        }
      }
    }

    .frame66 {
      display: flex;
      position: absolute;
      top: -54px;
      left: 0;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 16px;
      background: #f5f5f5;
      padding: 13px 126px 11px 16px;
      width: 339px;
      height: 68px;

      .autoWrapper4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 1px;

        .labelDone {
          display: inline-flex;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 10px;
          margin-top: 3px;
          margin-right: 68px;
          border-radius: 12px;
          background: var(--Colors-Semantic-Green, #0ce07a);
          padding-right: 12px;
          padding-left: 12px;

          .completado {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: flex-end;
            width: 55px;
            height: 18px;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Colors-Neutral-07, #ffffff);
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 700;
          }
        }
      }
    }

    .group10079 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      padding-top: 25px;
      padding-bottom: 13px;
      width: 344px;
      height: 106px;

      .frame67 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 16px;
        background: #f5f5f5;
        padding: 13px 88px 11px 16px;
        width: 339px;
        min-width: 339px;

        .autoWrapper5 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 1px;

          .labelPending {
            display: inline-flex;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 10px;
            margin-top: 3px;
            margin-right: 125px;
            border-radius: 12px;
            background: #feaa48;
            padding-right: 7px;
            padding-left: 7px;
          }
        }
      }

      .rectangle332 {
        margin-top: 28px;
        margin-left: -48px;
        background: #acadb9;
        width: 106px;
        height: 1px;
        rotate: -90deg;
      }
    }

    .frame68 {
      display: flex;
      position: absolute;
      bottom: -66px;
      left: 1px;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 16px;
      background: #f5f5f5;
      padding: 13px 64px 11px 16px;
      width: 339px;
      height: 68px;

      .autoWrapper6 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 1px;

        .labelPending2 {
          display: inline-flex;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 10px;
          margin-top: 3px;
          margin-right: 149px;
          border-radius: 12px;
          background: #feaa48;
          padding-right: 7px;
          padding-left: 7px;
        }
      }
    }
  }

  .frame69 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin: 76px 19px 0px 17px;
    border: 1px solid #219540;
    border-radius: 16px;
    background: #ffffff;
    padding: 6px 78px 6px 94px;
    min-width: 339px;
    height: 36px;

    .a {
      width: 8px;
      line-height: 22px;
      letter-spacing: 0;
      color: #219540;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .agregarNuevoHBito {
      width: 146px;
      line-height: 22px;
      letter-spacing: 0;
      color: #219540;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .taskbar {
    position: relative;
    margin-top: 10px;
    width: 376px;
    height: 97px;

    .homeIndicator2 {
      display: flex;
      position: absolute;
      top: 76px;
      left: 0;
      align-items: center;
      padding: 8px 118px;
      width: 375px;
      height: 21px;

      .homeIndicator {
        border-radius: 100px;
        background: #ffffff;
        width: 139px;
        height: 5px;
        rotate: -180deg;
      }
    }

    .subtract {
      display: flex;
      position: absolute;
      top: 33px;
      left: 0;
      align-items: flex-start;
      padding: 13px 27px 5px 37px;
      width: 376px;
      height: 64px;
      background-image: url(../image/mflbxpv8-qab8r20.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .autoWrapper8 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .home {
          margin-left: 4px;
          width: 24px;
          height: 24px;
        }

        .inicio {
          line-height: 22px;
          letter-spacing: 0;
          color: #acadb9;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .autoWrapper9 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-left: 27px;

        .grid5 {
          width: 24px;
          height: 24px;
        }

        .hBitos {
          line-height: 22px;
          letter-spacing: 0;
          color: #219540;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .progreso {
        margin: 24px 0px 0px 78px;
        line-height: 22px;
        letter-spacing: 0;
        color: #acadb9;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .autoWrapper10 {
        position: relative;
        margin-top: 24px;
        margin-left: 33px;
        width: 33px;
        height: 22px;

        .profileCircle {
          position: absolute;
          top: -21px;
          left: 4px;
          width: 24px;
          height: 24px;
        }

        .perfil {
          position: absolute;
          top: 0;
          left: 0;
          width: 33px;
          height: 22px;
          line-height: 22px;
          letter-spacing: 0;
          color: #acadb9;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .group {
        position: absolute;
        top: 15px;
        left: 242px;
        width: 23px;
        height: 23px;
      }
    }

    .frame {
      display: flex;
      position: absolute;
      top: 1px;
      left: 160px;
      align-items: flex-start;
      border-radius: 50%;
      box-shadow: 0px 6px 21px 0px #3aaef84d;
      background: #219540;
      padding: 12px 11px 10px 12px;
      width: 56px;
      height: 56px;
      overflow: hidden;

      .microphone2 {
        width: 34px;
        height: 34px;
      }
    }
  }
}
