* {
  box-sizing: border-box;
}

.frame1000003791 {
  display: inline-flex;
  align-items: flex-start;
  column-gap: 40px;
  width: 332px;
  height: 26px;

  .alimentaciN {
    flex-shrink: 0;
    line-height: 26px;
    letter-spacing: 0;
    color: #0a0b2f;
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .actividadFSica {
    flex-shrink: 0;
    opacity: 0.7;
    line-height: 26px;
    letter-spacing: 0;
    color: #352f2f;
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}
