* {
  box-sizing: border-box;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 32px;
  padding-left: 22px;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .bloodDrop112 {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .almuerzo {
    line-height: 22px;
    letter-spacing: 0;
    color: #090d3a;
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .ellipse3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    border-radius: 50%;
    background: #daf5e9;
    width: 42px;
    height: 42px;
  }

  .pendiente {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    width: 46px;
    height: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--Colors-Neutral-07, #ffffff);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 700;
  }

  .image4 {
    width: 12px;
    height: 13px;
  }

  .frame1000003795 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-right: 26px;
    min-width: 327px;
    height: 50px;

    .frame1000003793 {
      display: inline-flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 4px;

      .holaAnastacia {
        flex-shrink: 0;
        line-height: 32px;
        letter-spacing: 0;
        color: #141718;
        font-family: "Roboto Condensed", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }

      .holaAnastacia2 {
        position: absolute;
        top: 0;
        left: 0;
        flex-shrink: 0;
        width: 139px;
        height: 32px;
        line-height: 32px;
        letter-spacing: 0;
        color: #141718;
        font-family: "Roboto Condensed", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }
    }

    .ellipse452 {
      display: flex;
      align-items: center;
      border-radius: 50%;
      background-color: #d9d9d9;
      background-image: url(../image/mfkb95ce-jx02bj1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .ellipse45 {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
  }

  .frame416 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin: 28px 24px 0px 2px;
    border-radius: 24px;
    background: #d4e6ddcc;
    padding: 12px 12px 12px 15px;
    min-width: 327px;

    .frame415 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 8px;

      .lunes25Mayo2023 {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 16px;
        letter-spacing: 0;
        color: #8a8b8f;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 300;
      }

      .frame414 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 2px;

        .registroDiario {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 24px;
          letter-spacing: 1px;
          color: #167746;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 22px;
          font-weight: 700;
        }

        .frame413 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;

          .a10 {
            flex-shrink: 0;
            line-height: 48px;
            letter-spacing: 0;
            color: #4267b2;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 36px;
            font-weight: 500;
          }

          .actividadesPendiente {
            flex-grow: 1;
            width: 130px;
            line-height: 16px;
            letter-spacing: 0;
            color: #8a8b8f;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }

    .tab {
      display: flex;
      position: relative;
      align-items: flex-start;
      column-gap: 8px;
      margin-top: 62px;
      border-radius: 360px;
      background-color: #2d57af;
      padding: 8px 12px 8px 9px;
      width: 121px;
      background-image: linear-gradient(#00000024, #00000024);

      .verProgreso {
        flex-shrink: 0;
        width: 86px;
        height: 20px;
        text-align: right;
        line-height: 20px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .arrowCaretRightSm {
        position: absolute;
        top: 3px;
        left: 89px;
        flex-shrink: 0;
        width: 31px;
        height: 32px;
        overflow: hidden;
      }
    }
  }

  .frame1000003792 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 31px;
    margin-left: 5px;
    padding-bottom: 10px;
    width: 348px;

    .frame1000003791 {
      display: inline-flex;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 40px;
      margin-right: -14px;

      .alimentaciN {
        flex-shrink: 0;
        line-height: 26px;
        letter-spacing: 0;
        color: #0a0b2f;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
      }

      .actividadFSica {
        flex-shrink: 0;
        opacity: 0.7;
        line-height: 26px;
        letter-spacing: 0;
        color: #352f2f;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .rectangle33 {
      margin-top: 2px;
      background: #000000;
      width: 106px;
      height: 1px;
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 13px;
    padding-right: 22px;
    padding-left: 3px;

    .frame6 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 16px;
      background: #f5f5f5;
      padding: 13px 15px 24px 12px;

      .autoWrapper {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 0;
        padding-left: 0;

        .frame12 {
          display: flex;
          align-items: center;
          opacity: 0.9;
          margin-top: 7px;

          .uilWifiRouter {
            display: flex;
            flex-grow: 1;
            align-items: center;
            border-radius: 50%;
            background: #daf5e9;
            padding: 11px;
            overflow: hidden;

            .bloodDrop11 {
              width: 20px;
              height: 20px;
              overflow: hidden;
            }
          }
        }
      }

      .group1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 24px;
        margin-left: 3px;

        .beber {
          width: 40px;
          line-height: 22px;
          letter-spacing: 0;
          color: #090d3a;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .a250MlDeAgua {
          width: 106px;
          line-height: 22px;
          letter-spacing: 0;
          color: #090d3a;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .labelPending {
        display: inline-flex;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 10px;
        margin: 12px 69px 0px 4px;
        border-radius: 12px;
        background: #feaa48;
        padding-right: 7px;
        padding-left: 7px;
      }
    }

    .frame62 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 16px;
      background: #f5f5f5;
      padding: 20px 65px 16px 16px;

      .frame122 {
        position: relative;
        width: 42px;
        height: 42px;

        .a24PxCalendar {
          position: absolute;
          top: 11px;
          left: 11px;
          width: 20px;
          height: 20px;
        }
      }

      .group12 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 18px;
      }

      .labelDone {
        display: inline-flex;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 10px;
        margin-top: 20px;
        border-radius: 12px;
        background: var(--Colors-Semantic-Green, #0ce07a);
        padding-right: 12px;
        padding-left: 12px;

        .completado {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: flex-end;
          width: 55px;
          height: 18px;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Colors-Neutral-07, #ffffff);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 700;
        }
      }
    }
  }

  .autoWrapper4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 16px;
    padding-right: 22px;
    padding-left: 3px;

    .labelPending2 {
      display: inline-flex;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 10px;
      margin-top: 4px;
      margin-right: 71px;
      border-radius: 12px;
      background: #feaa48;
      padding-right: 7px;
      padding-left: 7px;
    }

    .autoWrapper3 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;

      .frame123 {
        position: relative;
        margin-top: 7px;
        width: 42px;
        height: 42px;
      }
    }

    .frame63 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 16px;
      background: #f5f5f5;
      padding: 13px 13px 14px 16px;

      .group13 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 18px;
        margin-right: 6px;
      }
    }

    .frame64 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 16px;
      background: #f5f5f5;
      padding: 13px 13px 14px 16px;

      .group14 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 18px;
        margin-right: 34px;
      }
    }
  }

  .frame1000003796 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 8px;
    margin: 16px 22px 0px 3px;

    .rectangle4194 {
      border: 1px solid #2d57af;
      background: #ffffff;
      width: 12px;
      height: 12px;
    }

    .ellipse32 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
      border-radius: 50%;
      background: #dae9e2;
      width: 42px;
      height: 42px;
    }

    .group15 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 22px;

      .airConditioner {
        line-height: 22px;
        letter-spacing: 0;
        color: #fefefe;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .lGGenCool1Hp {
        line-height: 22px;
        letter-spacing: 0;
        color: #fefefe;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }

      .a16OC {
        line-height: 24px;
        letter-spacing: 0;
        color: #fefefe;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }
    }

    .frame65 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 16px;
      background: #f5f5f5;
      padding: 14px 13px 8px 16px;
      width: 160px;
      min-width: 160px;

      .autoWrapper5 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 6px;

        .frame124 {
          position: relative;
          width: 42px;
          height: 42px;
        }
      }
    }

    .frame7 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 16px;
      background: #f5f5f5;
      padding: 14px 16px 8px;
      width: 160px;
      min-width: 160px;

      .autoWrapper6 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 6px;

        .frame125 {
          position: relative;
          width: 42px;
          height: 42px;

          .frame {
            position: absolute;
            top: 9px;
            left: 9px;
            width: 24px;
            height: 24px;
            overflow: hidden;
          }
        }
      }
    }
  }

  .autoWrapper9 {
    position: absolute;
    top: 707px;
    left: -1px;
    width: 376px;
    height: 104px;

    .taskbar {
      position: absolute;
      top: 7px;
      left: 0;
      width: 376px;
      height: 97px;

      .homeIndicator2 {
        display: flex;
        position: absolute;
        top: 76px;
        left: 0;
        align-items: center;
        padding: 8px 118px;
        width: 375px;
        height: 21px;

        .homeIndicator {
          border-radius: 100px;
          background: #ffffff;
          width: 139px;
          height: 5px;
          rotate: -180deg;
        }
      }

      .subtract {
        display: flex;
        position: absolute;
        top: -14px;
        left: -1px;
        align-items: flex-start;
        justify-content: space-between;
        padding: 29px 107px 21px 108px;
        width: 377px;
        height: 111px;
        background-image: url(../image/mfkb95c9-g9cngra.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .autoWrapper7 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          margin-top: 2px;

          .image7 {
            width: 17px;
            height: 17px;
          }

          .virus {
            margin-top: 18px;
            width: 24px;
            height: 24px;
          }
        }

        .autoWrapper8 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          .sugerenciaIa {
            margin: 16px 0px 0px;
            line-height: 22px;
            letter-spacing: 0;
            color: #090d3a;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }

    .x {
      position: absolute;
      top: 0;
      left: 348px;
      width: 9px;
      height: 22px;
      line-height: 22px;
      letter-spacing: 0;
      color: #090d3a;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
