* {
  box-sizing: border-box;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 18px;
  background: #f7f8fa;
  padding: 159px 14px 206px 18px;
  width: 414px;
  height: 896px;
  overflow: hidden;

  .imageRemovebgPreview {
    margin-left: 127px;
    width: 124px;
    height: 129px;
  }

  .bienvenidoAViveGood4 {
    margin: 63px 0px 0px;
    width: 382px;
    text-align: center;
    line-height: 64px;
    letter-spacing: 0;
    color: #000000;
    font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;

    .bienvenidoAViveGood {
      line-height: 64px;
      letter-spacing: 0;
      color: var(--Greyscale-900, #212121);
      font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 700;
    }

    .bienvenidoAViveGood2 {
      line-height: 64px;
      letter-spacing: 0;
      color: #219540;
      font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 700;
    }

    .bienvenidoAViveGood3 {
      line-height: 64px;
      letter-spacing: 0;
      color: #2d57af;
      font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 700;
    }
  }

  .autoLayoutVertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 63px 10px 0px 7px;
    row-gap: 23px;

    .typeButtonType2Prima {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border-radius: 95px;
      box-shadow: var(--Button-Shadow-1, 4px 8px 24px 0px #17ce9240);
      background: #090d3a;
      padding: 17px 15px;
      width: 365px;

      .iniciarSesiN {
        flex-grow: 1;
        text-align: center;
        line-height: 29px;
        letter-spacing: 0.2px;
        color: var(--Others-White, #ffffff);
        font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }
    }

    .typeButtonType2Secon {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border-radius: 95px;
      background: #e3e3e3;
      padding: 17px 15px;
      width: 365px;

      .registrarse {
        flex-grow: 1;
        text-align: center;
        line-height: 27px;
        letter-spacing: 0.19px;
        color: #b1b1b1;
        font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 700;
      }
    }
  }
}
