* {
  box-sizing: border-box;
}

.registerEmpty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 18px;
  background: #f7f8fa;
  padding-top: 45px;
  padding-bottom: 186px;
  width: 414px;
  height: 896px;
  overflow: hidden;

  .back {
    margin-left: 35px;
    width: 45px;
    height: 45px;
  }

  .inputFields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 74px 35px 0px;

    .nombresYApellidos {
      line-height: 21px;
      letter-spacing: -0.28px;
      color: #c2c3cb;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .creaTuCuenta {
      width: 300px;
      line-height: 48px;
      letter-spacing: -1.52px;
      color: #323142;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 38px;
      font-weight: 600;
    }

    .iconText {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 49px;
      border-radius: 13px;
      background: #ffffffab;
      padding: 22px 142px 23px 24px;
      min-width: 344px;
      height: 66px;

      .userIcon {
        width: 16px;
        height: 19px;
      }
    }

    .iconText2 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 20px;
      border-radius: 13px;
      background: #ffffffab;
      padding: 22px 156px 23px 23px;
      min-width: 344px;
      height: 66px;

      .emailIcon {
        width: 18px;
        height: 14px;
      }
    }

    .rectangle31 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 20px;
      border-radius: 13px;
      background: #ffffffab;
      padding: 23px 18px 22px 23px;

      .lockIcon {
        width: 17px;
        height: 19px;
      }

      .contraseA {
        margin: 0px 0px 0px 22px;
        line-height: 21px;
        letter-spacing: -0.28px;
        color: #c2c3cb;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .eyeOffIcon {
        margin-left: 164px;
        width: 19px;
        height: 19px;
      }
    }

    .rectangle29 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 25px;
      border-radius: 14px;
      background: #090d3a;
      padding: 21px 133px 21px 140px;

      .registrar {
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--BG, #f3f5f6);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .lowerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 16px;
    height: 57px;

    .aYaTienesUnaCuentaIn4 {
      margin: 0px 0px 0px 56px;
      line-height: 24px;
      color: #000000;
      font-size: 16px;

      .aYaTienesUnaCuentaIn {
        letter-spacing: -0.16px;
        color: #acadb9;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .aYaTienesUnaCuentaIn2 {
        letter-spacing: -0.16px;
        color: #acadb9;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .aYaTienesUnaCuentaIn3 {
        letter-spacing: -0.32px;
        color: #323142;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .line3 {
      opacity: 0.3;
      margin-top: 33px;
      background: #c2c3cb;
      width: 414px;
      height: 1px;
    }
  }
}
