* {
  box-sizing: border-box;
}

.holaAnastacia {
  width: 114px;
  height: 32px;
  line-height: 32px;
  letter-spacing: 0;
  color: #141718;
  font-family: "Roboto Condensed", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 24px;
}
