* {
  box-sizing: border-box;
}

.loginActive2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 18px;
  background: #f7f8fa;
  padding-top: 45px;
  padding-bottom: 227px;
  width: 414px;
  height: 896px;
  overflow: hidden;

  .back {
    margin-left: 35px;
    width: 45px;
    height: 45px;
  }

  .inputFields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 74px 35px 0px;

    .iniciaSesiN {
      width: 300px;
      line-height: 48px;
      letter-spacing: -1.52px;
      color: #323142;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 38px;
      font-weight: 600;
    }

    .iconText {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 48px;
      margin-right: 1px;
      border: 2px solid #141718;
      border-radius: 13px;
      background: var(--Full-White, #ffffff);
      padding: 20px 125px 21px 21px;
      min-width: 344px;
      height: 66px;

      .emailIcon {
        width: 18px;
        height: 14px;
      }

      .josephRenMailCom {
        line-height: 21px;
        letter-spacing: -0.28px;
        color: #141718;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .password {
      margin-top: 20px;
      width: 344px;
      height: 66px;
    }

    .aOlvidasteTuContrase {
      opacity: 0.7;
      margin: 14px 0px 0px 166px;
      line-height: 21px;
      letter-spacing: -0.28px;
      color: #323142;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .rectangle29 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 23px;
      margin-right: 1px;
      border-radius: 14px;
      background: #090d3a;
      padding: 21px 104px 21px 135px;

      .iniciarSesiN {
        line-height: 24px;
        letter-spacing: -0.32px;
        color: var(--BG, #f3f5f6);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .aTodaviaNoTienesUnaC4 {
    margin: 30px 0px 0px 31px;
    line-height: 24px;
    color: #000000;
    font-size: 16px;

    .aTodaviaNoTienesUnaC {
      letter-spacing: -0.16px;
      color: #acadb9;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .aTodaviaNoTienesUnaC2 {
      letter-spacing: -0.16px;
      color: #acadb9;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .aTodaviaNoTienesUnaC3 {
      letter-spacing: -0.32px;
      color: #323142;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .lowerText {
    margin-top: 31px;
    width: 414px;
    height: 0;
  }
}
