* {
  box-sizing: border-box;
}

.pequeAsAccionesQueFo {
  width: 247px;
  height: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: #8a8b8f;
  font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
}
